<body>

       <form name="form" #f="ngForm" (submit)="login()" >

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userName" id='userName' [(ngModel)]="model.userName"
        #userName="ngModel" required>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
            <div *ngIf="userName.errors.required">
                Name is required.
              </div>
        </div>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="model.password"
        #password="ngModel" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Password is required.
              </div>
        </div>
          
        <button type="submit" class="btn btn-info pull-right" [disabled]="!f.form.valid">Login</button>
       
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="reset" class="cancelbtn">Cancel</button>
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
      </div>
    </form>

</body>